name: Run Java Hello Program

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  run-java:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile hello.java
        run: javac hello.java

      - name: Run hello
        run: java hello
